.header-minicart {
  margin-left: 5px;
}

.page-header {
  z-index: 10;
  position: relative;
  box-shadow: 0px 4px 12px -5px rgba(0,0,0,0.2);
  max-width: 100%;
  margin: 0;
  padding: 0;

  &-container {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 30px 0 20px;
  }
}

.nav-primary {
  a:hover,
  li.active a,
  li:hover > a {
    color: #ed1b24;
  }
}

#header-search {
  right: 115px;
}

.account-cart-wrapper {
  right: 20px;
}

.logo {
  min-height: 83px;
}




